html{
    scroll-behavior: smooth;
}

body{
    max-width: 1300px;
  
}

.inicio{

    padding: 20px ;
    background-color:  #e6e6e6;
    height: auto;
    position: relative;
   
}
.inicio .nav {
    position: fixed;
    color: red;
    
 
    
}


.inicio .encabezado {
    position: relative;
    padding-bottom: 50px;
}

.inicio .encabezado h1 {

    font-size: 5rem;
    letter-spacing: 5px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 10px;
   


}

.inicio .encabezado h2{
    font-weight: normal;
    font-size: 2rem;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 10px;


}
.encabezado .foto {

    max-width: 250px;
    float: left;
    position: absolute;
    left: 42%;
    bottom: -45%;
    border-radius: 50%;
    
}
.personal {
    padding: 15px;
    margin: auto;
    
    background: 
    url(pie.webp);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    }
    .personal .presentacion {
        text-align: center;
        color: #fff;
        font-size: 20px;
        padding-top: 130px;
    }

.personal .laborales {
    padding: 130px;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    
  

}



.personal .perfil, .idiomas, .habilidades {
    border-right: solid #CACFD2 ;
    margin: 0.5em;
    padding-right: 0.7em;
    
    color: #fff;
    font-size: 20px;
    }

   

    
    
#educacion-experiencia{
        background-color: #e6e6e6;
        padding: 140px 0 100px 0;
        text-align: center;
    }
    .educacion-experiencia .contenido-seccion{
        max-width: 1000px;
        margin: auto;
        padding: 0 10px;
    }
    .educacion-experiencia .contenido-seccion h3{
        text-transform: uppercase;
        font-size: 30px;
    }
    .educacion-experiencia .contenido-seccion .info{
        text-align: left;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .educacion-experiencia .contenido-seccion .info .col{
        width: 45%;
    }
    .educacion-experiencia .contenido-seccion .info .col .titulo{
        display: inline-block;
        font-weight: bold;
        padding: 10px;
    
    }
    .educacion-experiencia .contenido-seccion .info .col table{
        margin-top: 30px;
        border-collapse: collapse;
    }
    .educacion-experiencia .contenido-seccion .info .col table .datos{
        width: 40%;
        border-bottom: 1px solid #bab9b9;
    }
    .educacion-experiencia .contenido-seccion .info .col table h4{
        margin-top: 10px;
    }
    .educacion-experiencia .contenido-seccion .info .col table h3{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .educacion-experiencia .contenido-seccion .info .col table p{
        font-size: 14px;
    }
   
    .educacion-experiencia .contenido-seccion .info .col table .descripcion{
        border-left: 1px solid #bab9b9;
        padding-left: 20px;
    }

    

    .contacto {
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }


    @media screen and (max-width:800px){
        .inicio{
            height: auto;
        }
        .inicio .nav{
            position: relative;
        }
        
      .contenido-seccion .cuerpo  .personal .laborales {
            display: block;
            text-align: center;
        }
        


        .cuerpo .personal .presentacion {
            text-align: justify;
        }

        .personal .perfil, .idiomas, .habilidades{
            border-right: none;
            padding: 10px;
            border-bottom: solid ;
        }

        .encabezado .foto{

            max-width: 250px;
            float: left;
            position: absolute;
            left: 35%;
            bottom: -40%;
            border-radius: 50%;

        }

        .inicio .nav {
            position: fixed;}

        
    }
    